.customSelect {
    position: relative;
    width: 200px;
  }
  
  .customSelect__trigger {
    background: #fff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s;
  }
  
  .customSelect__trigger:hover {
    background: #f6fcff;
  }
  
  .customSelect__dropdown {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 10;
    opacity: 0;
    transform: scale(0);
    transition: .3s;
}
.customSelect__dropdown.show{
    top: 100%;
    opacity: 1;
    transform: scale(1);
  }
  
  .customSelect__option {
    padding: 10px;
    cursor: pointer;
  }
  
  .customSelect__option.selected {
    background: #d5f1ff;
  }

  .arrow {
    position: relative;
    width: 20px;
    height: 20px;
    transition: .5s;
    transform: rotate3d(1, 0.4, 0, 185deg) translate3d(0, 0, 0);
  }
  .arrow::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 3px solid rgb(0, 136, 255);
    border-right: 3px solid rgb(0, 136, 255);
  }
  .arrow.up {
    transform: rotate3d(0, 0, 1, -45deg);
  }

  .customSelect:hover .arrow{
    transform: rotate3d(1, 0.4, 0, 185deg) translate3d(3px, -3px, 0);
  }
 .customSelect:hover .arrow.up {
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, 0, 0);
  }
  